## COVID-19 vaccination rate vs. new cases rate

Data source: https://data.cdc.gov/Vaccinations/COVID-19-Vaccinations-in-the-United-States-County/8xkx-amqh

In [1]:
PROJECT_ID = '<< INSERT PROJET ID >>'

In [2]:
import pandas as pd

In [3]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [4]:
from google.cloud import bigquery

client = bigquery.Client(project=PROJECT_ID)

In [5]:
df_county_populations = client.query("""
SELECT 
country_name, 
subregion1_name, 
subregion2_name, 
MAX(population) as population
FROM 
`bigquery-public-data.covid19_open_data.covid19_open_data` 
WHERE country_name IN (
'United States of America')
AND aggregation_level = 2
GROUP BY 1, 2, 3
""").to_dataframe()

In [31]:
df_county_populations

                  country_name subregion1_name    subregion2_name  population
0     United States of America         Georgia     Appling County       18438
1     United States of America         Georgia    Atkinson County        8182
2     United States of America         Georgia       Bacon County       11205
3     United States of America         Georgia       Baker County        3159
4     United States of America         Georgia     Baldwin County       44963
...                        ...             ...                ...         ...
3220  United States of America         Wyoming  Sweetwater County       43464
3221  United States of America         Wyoming       Teton County       23384
3222  United States of America         Wyoming       Uinta County       20431
3223  United States of America         Wyoming    Washakie County        8010
3224  United States of America         Wyoming      Weston County        6968

[3225 rows x 4 columns]

In [6]:
df_vax = pd.read_csv('https://data.cdc.gov/api/views/8xkx-amqh/rows.csv?accessType=DOWNLOAD')
df_vax.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Date  ... Series_Complete_65PlusPop_Pct_SVI
0  08/22/2021  ...           Mod-High VC/Low-Mod SVI
1  08/22/2021  ...              Mod-High VC/High SVI
2  08/22/2021  ...              Mod-High VC/High SVI
3  08/22/2021  ...          Mod-High VC/Mod-High SVI
4  08/22/2021  ...               Low-Mod VC/High SVI

[5 rows x 27 columns]

In [7]:
county_lookups = {
    'Ventura County': 'Los Angeles',
    'San Bernardino County': 'Los Angeles',
    'Riverside County': 'Los Angeles',
    'Los Angeles County': 'Los Angeles',
    'Orange County': 'Los Angeles',
    'Alameda County': 'San Francisco',
    'Contra Costa County': 'San Francisco',
    'Marin County': 'San Francisco',
    'Napa County': 'San Francisco',
    'San Mateo County': 'San Francisco',
    'Santa Clara County': 'San Francisco',
    'Solano County': 'San Francisco',
    'Sonoma County': 'San Francisco',
    'San Francisco County': 'San Francisco',
    'Broward County': 'Miami',
    'Miami-Dade County': 'Miami',
    'Palm Beach County': 'Miami'
}

In [8]:
sorted(list(county_lookups.keys()))

['Alameda County',
 'Broward County',
 'Contra Costa County',
 'Los Angeles County',
 'Marin County',
 'Miami-Dade County',
 'Napa County',
 'Orange County',
 'Palm Beach County',
 'Riverside County',
 'San Bernardino County',
 'San Francisco County',
 'San Mateo County',
 'Santa Clara County',
 'Solano County',
 'Sonoma County',
 'Ventura County']

In [9]:
df_vax_filter = df_vax[df_vax['Recip_County'].isin(set(county_lookups.keys()))]
df_vax_filter = df_vax_filter[df_vax_filter['Recip_State'].isin({'CA', 'FL'})].copy()
df_vax_filter['city'] = df_vax_filter['Recip_County'].map(county_lookups)

In [10]:
df_vax_filter

              Date   FIPS  ...  Series_Complete_65PlusPop_Pct_SVI           city
76      08/22/2021  12086  ...                   High VC/High SVI          Miami
87      08/22/2021  06065  ...                   High VC/High SVI    Los Angeles
97      08/22/2021  12011  ...               High VC/Mod-High SVI          Miami
227     08/22/2021  12099  ...               High VC/Mod-High SVI          Miami
350     08/22/2021  06071  ...                   High VC/High SVI    Los Angeles
...            ...    ...  ...                                ...            ...
829816  12/13/2020  06055  ...                                NaN  San Francisco
829897  12/13/2020  12086  ...                                NaN          Miami
829915  12/13/2020  06059  ...                                NaN    Los Angeles
829991  12/13/2020  06001  ...                                NaN  San Francisco
829997  12/13/2020  12095  ...                                NaN    Los Angeles

[4554 rows x 28 columns]

In [11]:
df_vax_filter[['Recip_County', 'city']].drop_duplicates()

               Recip_County           city
76        Miami-Dade County          Miami
87         Riverside County    Los Angeles
97           Broward County          Miami
227       Palm Beach County          Miami
350   San Bernardino County    Los Angeles
434           Orange County    Los Angeles
958     Contra Costa County  San Francisco
1109     Santa Clara County  San Francisco
1151            Napa County  San Francisco
1167         Alameda County  San Francisco
1533         Ventura County    Los Angeles
1777       San Mateo County  San Francisco
2083     Los Angeles County    Los Angeles
2213          Solano County  San Francisco
2367           Marin County  San Francisco
2961   San Francisco County  San Francisco
3031          Sonoma County  San Francisco

In [12]:
## Join population totals
df_vax_filter_w_populations = pd.merge(df_vax_filter,
                                       df_county_populations,
                                       left_on='Recip_County',
                                       right_on='subregion2_name')

In [13]:
df_vax_filter_w_populations.head()

         Date   FIPS  MMWR_week  ... subregion1_name    subregion2_name  population
0  08/22/2021  12086         34  ...         Florida  Miami-Dade County     2713295
1  08/21/2021  12086         33  ...         Florida  Miami-Dade County     2713295
2  08/20/2021  12086         33  ...         Florida  Miami-Dade County     2713295
3  08/19/2021  12086         33  ...         Florida  Miami-Dade County     2713295
4  08/18/2021  12086         33  ...         Florida  Miami-Dade County     2713295

[5 rows x 32 columns]

In [14]:
df_vax_filter_w_populations.to_csv('df_vax_filter.csv', index=False)

In [15]:
us_counties = ',\n'.join([f"'{x}'" for x in sorted(county_lookups.keys())])
print(us_counties)

'Alameda County',
'Broward County',
'Contra Costa County',
'Los Angeles County',
'Marin County',
'Miami-Dade County',
'Napa County',
'Orange County',
'Palm Beach County',
'Riverside County',
'San Bernardino County',
'San Francisco County',
'San Mateo County',
'Santa Clara County',
'Solano County',
'Sonoma County',
'Ventura County'

In [16]:
## Get covid cases for populations under investigation

query = f"""
SELECT 
date,
country_name, 
subregion1_name, 
subregion2_name, 
population,
new_confirmed,
new_deceased,
new_persons_vaccinated,
new_persons_fully_vaccinated,
cumulative_persons_vaccinated,
cumulative_persons_fully_vaccinated,
cumulative_tested
FROM 
`bigquery-public-data.covid19_open_data.covid19_open_data` 
WHERE (country_name IN ('Australia')
AND subregion1_name IN ('New South Wales', 'Victoria'))
OR (country_name IN ('United Kingdom')
AND subregion1_name IN ('London Region'))
OR
(country_name = 'United States of America' 
AND subregion1_name IN (
    'California',
    'Florida'
)
AND subregion2_name IN ({us_counties})
)
"""

print(query)

df_covid_cases = client.query(query).to_dataframe()

SELECT
date,
country_name,
subregion1_name,
subregion2_name,
population,
new_confirmed,
new_deceased,
new_persons_vaccinated,
new_persons_fully_vaccinated,
cumulative_persons_vaccinated,
cumulative_persons_fully_vaccinated,
cumulative_tested
FROM
`bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE (country_name IN ('Australia')
AND subregion1_name IN ('New South Wales', 'Victoria'))
OR (country_name IN ('United Kingdom')
AND subregion1_name IN ('London Region'))
OR
(country_name = 'United States of America'
AND subregion1_name IN (
    'California',
    'Florida'
)
AND subregion2_name IN ('Alameda County',
'Broward County',
'Contra Costa County',
'Los Angeles County',
'Marin County',
'Miami-Dade County',
'Napa County',
'Orange County',
'Palm Beach County',
'Riverside County',
'San Bernardino County',
'San Francisco County',
'San Mateo County',
'Santa Clara County',
'Solano County',
'Sonoma County',
'Ventura County')
)

In [27]:
def classify_region(row):
  if row.subregion2_name:
    return county_lookups.get(row.subregion2_name)
  return row.subregion1_name

df_covid_cases['region'] = df_covid_cases.apply(classify_region, axis=1)

In [28]:
df_covid_cases.groupby('region').agg({
    'date': 'count'
})

                 date
region
London Region     602
Los Angeles      3612
Miami            1806
New South Wales   602
San Francisco    5418
Victoria          602

In [38]:
## Get population per region
df_region_population = df_covid_cases[['region', 'subregion1_name', 'population']].drop_duplicates().groupby('region').agg({
    'population': 'sum'
}).reset_index()

df_region_population.style.format({'population': '{:,.0f}'})

In [39]:
df_covid_cases_daily = df_covid_cases.groupby(['date', 'region']).agg({
    'new_confirmed': 'sum',
    'cumulative_persons_vaccinated': 'sum',
    'cumulative_persons_fully_vaccinated': 'sum'
}).reset_index()

df_covid_cases_daily = pd.merge(df_covid_cases_daily,
                                df_region_population,
                                on='region')

In [40]:
df_covid_cases_daily

            date  ... population
0     2020-01-01  ...    8982256
1     2020-01-02  ...    8982256
2     2020-01-03  ...    8982256
3     2020-01-04  ...    8982256
4     2020-01-05  ...    8982256
...          ...  ...        ...
3607  2021-08-20  ...    5926624
3608  2021-08-21  ...    5926624
3609  2021-08-22  ...    5926624
3610  2021-08-23  ...    5926624
3611  2021-08-24  ...    5926624

[3612 rows x 6 columns]

In [41]:
df_covid_cases_daily.to_csv('df_covid_cases_daily.csv', index=False)